$base_color: #2d6399;
$icon_color: #dbedff;
$highlight_color: #184675;
$notification_color: #26ddf2;
$button_color: #18729b;
$text_color: #ffffff;
$menu_icon: #dbedff;


@import 'colors.css';
@import '_admin.scss';
